<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div>
       <a href="/cocktails" class="ml-5"><i class="fas fa-glass-martini-alt text-left logo"></i></a>
    </div>
    <div class ='big-title'>WIKICOCKTAILS</div>
    <div id = 'menu'>
      <i class="fas fa-bars mr-5 bars logo"></i>
      <div class='d-none modal-list'>
        <ul>
          <li>Margarita</li>
          <li>Moscow Mule</li>
          <li>Cosmopolitan</li>
          <li>Mojito</li>
        </ul>
      </div>
    </div>
  </div>
