.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
  background-color: rgb(175, 114, 110) ;
  transition: 0.5s background-color ease;
  box-shadow: 0 1px 1px rgba(100, 100, 100, .4);
  color: white;
}

.index-navbar {
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.background-white{
  background-color: rgb(175, 114, 110);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.big-title:hover {
  color: black;
  cursor: pointer;
}

#big-title:hover {
  color: black;
  cursor: pointer;
}




.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  color: white;
  &:hover {
    color: black;
  }
}

.bars:hover {
  cursor: pointer;
}

.bars {
  z-index: 11;
}

#big-title {
  letter-spacing: 1.5px;
  color: white;
}

.modal-list {
  width: 200px;
  height: 300px;
  box-shadow: 0 2px 2px rgba(150,150,150,0.6);
  position: absolute;
  top: 20px;
  right: 80px;
  background-color: white;
  z-index: 10;
}
