// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import 'cocktails';

//Polices
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');
$oswald: 'Oswald', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

body {
  font-family: 'Oswald';
  background-color: rgba(29, 74, 104,0.1);
}

ul li i {
  color: white;
  padding-left: 30px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

ul li {
  display: inline-block;
  list-style: none;
}

footer {
  background-color: rgb(175, 114, 110);
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}
