// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cocktail-title {
  font-size: 32px;
  font-family: 'Oswald', cursive;
  text-align: center;
}

#form {
  width: 400px;
}

.recette {
  font-size:16px;
  font-weight: lighter;
}
